body {
    margin: 0;
}

h1, p {
    margin: 0;
}

.container {
    background: url('assets/aboutImage.jpeg');
    background-size: cover;
    height: calc(85vh - 80px);
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    background-position: center;
}

.gradient-container {
    background: url('assets/subtle-prism.svg');
    background-size: 100% auto;
    height: calc(85vh - 80px);
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid gray;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a {
    color: black;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logo a:hover {
    color: lightskyblue;
}

.navbar-link {
    color: black;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar-link:hover {
    color: lightskyblue;
}

.page-title {
    font-size: 100px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about {
    background-color: #f5f7fa;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30vw;
    padding-left: 30vw;
}

.aboutText {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    color: black;
}

.aboutText p {
    line-height: 1.8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
}

.footer-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

.project-container {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project {
    display: flex;
    background-color: #f5f7fa;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30vw;
    padding-left: 30vw;
    flex-direction: column;
    gap: 20px;
}

.project-name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.project-description {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

.project-image {
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.learn-more {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.resume-button {
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resume-button-container {
    display: flex;
    justify-content: center;
}

.entry {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.skill-section-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
}

.resume-info-container {
    background-color: #f5f7fa;
}

.skills {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.skill {
    background-color: white;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    gap: 10px;
    text-align: center;
}

.school-container {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50vw;
}

.outer-container {
    display: flex;
    justify-content: center;
}

.school-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.school-description {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.school-name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.schools {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog {
    background-color: #f5f7fa;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blog-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.contact {
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    padding: 10px;
}

.submit {
    border-radius: 5px;
    background-color: lightskyblue;
    padding: 10px;
    color: white;
    border-width: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}